@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.container {
  position: relative;
  width: 1110px;
}

.header__top {
  height: 50px;
  display: flex;
  justify-content: center;
  background: #efefef;
}
.header__top-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__top-menu {
  width: 447px;
  height: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__top-menu > li > a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #333333;
}
.header__top-menu > li > a:hover {
  opacity: 0.8;
}
.header__main {
  height: 120px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #efefef;
}
.header__main-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo > img {
  width: 80px;
  height: 80px;
}
.header__logo > p {
  margin-left: 20px;
  width: 158px;
  height: 39px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #66c05d;
}
.header__call {
  display: flex;
  align-items: center;
}
.header__call > p {
  width: 127px;
  height: 19px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.header__call > button {
  margin-left: 40px;
  box-sizing: border-box;
  width: 170px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  background: #ffffff;
  border: 2px solid #66c05d;
  border-radius: 40px;
}
.header__call > button:hover {
  color: #ffffff;
  background-color: #66c05d;
}
.header__menu {
  height: 79px;
  display: flex;
  justify-content: center;
}
.header__menu-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__menu-wrap > nav > ul {
  width: 675px;
  height: 19px;
  display: flex;
  justify-content: space-between;
}
.header__menu-wrap > nav > ul > li > a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.header__menu-wrap > nav > ul > li > a:hover {
  opacity: 0.8;
}

.section-main {
  position: relative;
  overflow: hidden;
  height: 604px;
  display: flex;
  justify-content: center;
  background: #66c05d;
}
.section-main__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-main__heading {
  width: 308px;
  height: 219px;
}
.section-main__heading > h1 {
  width: 308px;
  height: 44px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #ffffff;
}
.section-main__heading > p {
  margin-top: 50px;
  width: 308px;
  height: 35px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}
.section-main__heading button {
  margin-top: 50px;
  box-sizing: border-box;
  width: 170px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
  background: #66c05d;
  border: 2px solid #ffffff;
  border-radius: 40px;
}
.section-main__heading button:hover {
  color: #000000;
  background-color: #ffffff;
}
.section-main__armchair {
  width: 677px;
  height: 677px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  outline: 91px solid rgba(255, 255, 255, 0.3);
}
.section-main__armchair > img {
  width: 584px;
  height: 584px;
}

.section-second {
  height: 954px;
  display: flex;
  justify-content: center;
  background: #efefef;
}
.section-second__title {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-second__title > h2 {
  width: 320px;
  height: 29px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.section-second__goods {
  margin-top: 16.45px;
  display: flex;
  justify-content: space-between;
}
.section-second__goods .product-card {
  width: 255px;
  height: 363px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
}
.section-second__goods .product-card > img {
  margin-top: 25px;
  width: 125px;
  height: 166px;
}
.section-second__goods .product-card__description {
  margin-top: 20px;
  width: 195px;
  height: 33px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #333333;
}
.section-second__goods .product-card__price {
  margin-top: 20px;
  width: 80px;
  height: 19px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
}
.section-second__goods .product-card > button {
  margin-top: 20px;
  width: 130px;
  height: 35px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
  background: #66c05d;
  border-radius: 30px;
}
.section-second__goods .product-card > button:hover {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #66c05d;
}
.section-second__blocks {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.section-second__block {
  width: 540px;
  height: 212px;
  display: flex;
  align-items: center;
  background: #66c05d;
}
.section-second__block .subscribe {
  margin-left: 40px;
}
.section-second__block .subscribe > h3 {
  width: 250px;
  height: 17px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
.section-second__block .subscribe > p {
  margin-top: 25px;
  width: 231px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}
.section-second__block .subscribe > input {
  margin-top: 25px;
  padding-left: 25px;
  width: 225px;
  height: 35px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  background: #ffffff;
  border-radius: 30px;
}
.section-second__block .subscribe > input::-moz-placeholder {
  width: 96px;
  height: 17px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #c4c4c4;
}
.section-second__block .subscribe > input::placeholder {
  width: 96px;
  height: 17px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #c4c4c4;
}
.section-second__block > img {
  margin-left: 65px;
  width: 140px;
  height: 140px;
}
.section-second__block .our-shops {
  margin-left: 40px;
}
.section-second__block .our-shops > h3 {
  width: 250px;
  height: 17px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
.section-second__block .our-shops > p {
  margin-top: 25px;
  width: 141px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}
.section-second__block .our-shops > button {
  box-sizing: border-box;
  margin-top: 25px;
  width: 170px;
  height: 35px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  background: #66c05d;
  border: 2px solid #ffffff;
  border-radius: 30px;
}
.section-second__block .our-shops > button:hover {
  color: #000000;
  background-color: #ffffff;
}

.footer__contacts {
  height: 120px;
  display: flex;
  justify-content: center;
  background: #ffffff;
}
.footer__contacts-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__social {
  width: 236px;
  display: flex;
  justify-content: space-between;
}
.footer__social > div {
  box-sizing: border-box;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border: 2px solid #66c05d;
  border-radius: 50%;
}
.footer__social > div:hover {
  opacity: 0.8;
  cursor: pointer;
}
.footer__address {
  width: 227px;
  height: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
.footer__call {
  display: flex;
  align-items: center;
}
.footer__call > p {
  width: 127px;
  height: 19px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.footer__call > button {
  margin-left: 40px;
  box-sizing: border-box;
  width: 170px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  background: #ffffff;
  border: 2px solid #66c05d;
  border-radius: 40px;
}
.footer__call > button:hover {
  color: #ffffff;
  background-color: #66c05d;
}
.footer__bottom {
  height: 64px;
  display: flex;
  justify-content: center;
  background: #efefef;
}
.footer__bottom-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__bottom-wrap > p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #828282;
}
.footer__bottom-wrap > p:last-child:hover {
  opacity: 0.8;
  color: #000000;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */